body{
    margin: 0;
    padding: 0;
}
/* //////404.html////// */
.error-page{
    margin: 10px;
}

/* //////index.html////// */
/* //////header////// */
header{
    height: 60px;
    background-color: #131921;
    color: #fff;

    display: flex;
    align-items: center;
    overflow: visible;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-shrink: 0;
    gap: 20px;
}

.header-hover{
    border:1px solid #131921;
    padding: 3px 3px;
    border-radius: 2px 2px;
    color: #fff;
    text-decoration: none;
    flex-shrink: 0;
}

.header-hover:hover{
    border:1px solid #fff;
    padding: 3px 3px;
    border-radius: 2px 2px;
}


/*① Amazonロゴ */

.amazon-logo{
    display:flex;
    align-items:center ;
    margin-left: 5px;
    cursor:pointer;
}

.amazon-logo img{
    width: 100px;
}

.amazon-logo p{
    margin:0 0 8 2px;
    font-size:12px;
    color: #fff;
}

/*nav-line*/

.nav-line-1 {
    display: block;
    font-size: 12px;
}

.nav-line-2 {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

/*② お届け先 */

.header-address{
    cursor:pointer;
}

.address-bottom{
    display: flex;
    align-items: center;
    gap: 4px;
}

/* ポップアップ本体 */
.address-popup{
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 350px;
    background: #fff;
    color: #333;

    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    z-index: 9999;
}


.address-popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #e7e5e5;
    border-radius: 8px 8px 0 0;
}

.address-title{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.address-popup-body{
    padding: 10px;
}

.address-popup-body p{
    margin-bottom: 10px;
    font-size: 12px;
}

.address-login-btn{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 290px;
    height: 30px;

    margin: 0 auto 20px;

    background: #ffd814;
    color: #111;

    text-decoration: none;
    font-weight: bold;
    font-size: 12px;

    border-radius: 30px;}

.address-divider{
    text-align: center;
    color: #666;

    margin: 20px 0;

    position: relative;
    font-size: 12px;
}

.address-divider::before,
.address-divider::after{
    content: "";

    position: absolute;
    top: 50%;

    width:25%;
    height: 1px;

    background: #ddd;
}

.address-divider::before{
    left: 0;
}

.address-divider::after{
    right: 0;
}

.post-form{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.post-form input{
    width: 80px;
    height: 30px;

    border: 1px solid #999;
    border-radius: 8px;
}

.post-form button,
.country-select-btn{
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
}

.post-form button{
    width: 80px;
    height: 30px;
    border-radius: 80px;
}

.country-select-area{
    position: relative;
    width: 290px;
    margin: 0 auto;
}

.country-select-btn{
    width: 100%;
    height: 30px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;

    border-radius: 8px;
}

.country-list{
    display:none;
    position:absolute;
    top: -220px;
    left:0;
    width:100%;
    max-height: 250px;
    overflow-y: auto;
    background:#fff;
    border:1px solid #999;
    border-radius: 8px;
    z-index:1000;
    font-size: 12px;
}

.country-item{
    padding:5px 15px;
    cursor:pointer;
}

.country-item:hover{
    background:#f3f3f3;
}

.country-divider{
    height:1px;
    background:#ddd;
    margin:5px 0;
}

/*③ 検索フォーム */
.search-form{
    display: flex;
    flex: 1 1 auto;
    height:40px;
    min-width:300px;
    max-width: 1000px;
    overflow: hidden;
}

.category-box{
    position: relative;
    min-width:80px;
    max-width:250px;
    width:80px;
    flex-shrink:1;
    background-color:#ccc;

    display:flex;
    align-items:center;

    border-radius:4px 0 0 4px;
    overflow:hidden;
}

.category-label{
    position:absolute;
    left:12px;
    right:28px;

    color:black;
    pointer-events:none;
    font-size:12px;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.category-icon{
    position: absolute;
    right: 10px;
    color: black;
    pointer-events: none;
}

.search-input{
    flex: 1 1 auto;
    min-width: 0;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}

.category-search{
    width: 100%;
    height: 100%;

    opacity: 0;
    cursor: pointer;
}

.search-button{
    background-color:#febd69;
    border:none;
    padding: 5px 5px;
    border-radius:0 4px 4px 0;
    width: 50px;
    cursor: pointer;
    font-size: 18px;
    flex-shrink: 0;
}

.search-button i{
    color:#131921;
}

.search-form.active{
    border:3px solid #ff9900;
    border-radius:6px;
}

/*hover使用、④ 言語変更*/
.language-wrap{
    position: relative;
    font-size: 12px;

}

.header-language{
    display: flex;
    align-items:center;
    gap: 5px;
    cursor: pointer;
    flex-shrink: 0;
    margin-top:15px;
}

.jp-icon{
    width: 15px;
} 

.icon-country{
    display: flex;
    gap:5px;
}

.language-text{
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}

.language-icon{
    color: #ccc;
}

.language-popup{
    display: none;

    position: absolute;
    top: 50px;
    right: 0;

    width: 280px;
    background: #fff;
    color: #333;

    padding: 18px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);

    z-index: 9999;
}

.popup-title{
    margin-bottom: 10px;
}

.language-popup-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.language-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.language-popup-list li{
    margin-bottom: 12px;
}

.language-popup-divider{
    height: 1px;
    background: #ddd;
    margin: 12px 0;
}

.money{
    display:flex;
    justify-content:space-between;
}

.language-popup-country{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.language-popup a{
    color: #007185;
    text-decoration: none;
}

.icon-country{
    display: flex;
    align-items: center;
    gap: 8px;
}

.country-link{
    display: block;
    text-align: center;
    margin-top: 15px;
}

/*:hover使用、⑤ ログイン*/
.login-wrap{
    position: relative;
}

.header-login{
    cursor: pointer;
}

.account-list{
    display: flex;
    align-items: center;
    gap:5px;
}

.login-icon{
    color: #ccc;
}

/* popup本体 */
.account-popup{
    display:none;

    position:absolute;
    top:50px;
    right:-80px;

    width:620px;
    background:#fff;
    color:#333;

    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:0 2px 8px rgba(0,0,0,0.3);

    padding:20px 28px;
    z-index:9999;
}



.account-popup-login{
    text-align:center;
}

.account-login-btn{
    display:block;
    width:200px;
    margin:0 auto 10px;
    padding:10px 0;

    background:#ffd814;
    border:1px solid #fcd200;
    border-radius:8px;

    color:#000;
    text-decoration:none;
    cursor:pointer;
}

.account-register-text{
    margin:0;
    font-size:12px;
}

.account-register-text a{
    color:#007185;
    text-decoration:underline;
    cursor:pointer;
}

.account-popup-divider{
    height:1px;
    background:#ddd;
    margin:18px 0;
}

.account-popup-content{
    display:flex;
    font-size: 12px;
}

.account-popup-left{
    width:50%;
    padding-right:25px;
}

.account-popup-right{
    width:50%;
    padding-left:25px;
    border-left:1px solid #ddd;
}

.account-popup h3{
    margin:0 0 12px;
    font-weight:bold;
    cursor:default;
}

/* リンク */
.account-popup-left a,
.account-popup-right a{
    display:block;
    margin-bottom:3px;

    color:#333;
    text-decoration:none;
    cursor:pointer;
    font-size:12px;
}

.account-popup-left a:hover,
.account-popup-right a:hover{
    color:#c45500;
    text-decoration:underline;
}    
/* ⑥ 注文 */
.header-order{
    cursor: pointer;
}

/* ⑦ カート */
.header-cart{
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.header-cart img{
    width: 40px;
    filter: brightness(0) invert(1);   /* アイコン色０黒から１白にする*/
}

.cart-text{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

/* //////menu////// */
menu{
    background-color: #283649;
    height: 40px;
    color:#fff;
    display: flex;
    align-items: center;
    gap: 20px;
    margin:0;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;

}

.menu-list{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    gap:5px;
    text-align: left;
}

.menu-text{
    font-size:15px;
    cursor: pointer;
    text-decoration: none;
    color:#fff;
    display: flex;
    gap: 10px;
    flex:1;
    overflow: hidden;
    white-space: nowrap;
    min-width:500px;

}
 
.menu-hover{
    border:1px solid #283649;
    padding: 3px 3px;
    border-radius: 2px 2px;
}

.menu-hover:hover{
    border:1px solid #fff;
    padding: 3px 3px;
    border-radius: 2px 2px;

}
.menu-text-icon{
    display:inline-flex;
    text-align: center;
    gap:5px;
}

.menu-banner{
    margin-left:auto;
    height: 40px;
    flex-shrink: o;
}

.menu-banner img{
    height: 30px;
    display: block;
    cursor: pointer;
    border:1px solid transparent;
    padding: 3px 3px;
    border-radius: 2px 2px;

}

.menu-banner img:hover{
    border:1px solid #fff;
    padding: 3px 3px;
    border-radius: 2px 2px;
}

.side-menu{
    position:fixed;
    top:0;
    left:-360px;

    width:360px;
    height:100vh;

    background:#fff;
    color:#111;

    z-index:10000;

    transition:0.3s;
    overflow-y:auto;
}

.side-menu.active{
    left:0;
}

.side-menu-header{
    height:60px;
    background:#232f3e;
    color:#fff;

    display:flex;
    align-items:center;
    gap:15px;

    padding:0 25px;
    font-size:22px;
    font-weight:bold;
}

.side-menu-header i{
    font-size:30px;
}

.side-menu-body{
    padding:20px 25px;
}

.side-menu-body h3{
    font-size:22px;
    margin:5px 0;
}

.side-menu-body a{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:10px 0;

    color:#111;
    text-decoration:none;
    font-size:15px;
}

.side-menu-body a:hover{
    background:#f3f3f3;
}

.side-divider{
    height:1px;
    background:#ddd;
    margin:20px -25px;
}

.side-menu-close{
    display:none;

    position:fixed;
    top:15px;
    left:380px;

    background:none;
    border:none;
    color:#fff;

    font-size:35px;
    cursor:pointer;

    z-index:10001;
}

.side-menu-close.active{
    display:block;
}

/* 暗い背景 */
.overlay{
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    z-index: 9998;
}
.language-popup,
.account-popup{
    z-index:9999;
}
